body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5e58a7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(204, 167, 134, 0.1);
  }
  .container2 {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0af3fb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(216, 199, 6, 0.1);
  }
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p#result {
    margin-top: 20px;
    text-align: center;
  }
  